
/*-------------------------------------------------
 =  Table of Css

 1.Header
 2.Isotope filtering
 3.General
 4.image post
 5.standard post
 6.video post
 7.article post
 8.posts list
 9.List posts with thumbnails
 10.news-sections
 11.subscribe-sections
 12.instagram section
 13.sidebar
 14.error 404 section
 15.about us
 16.Single Post
 17.Contact
 18.Footer
 19.Responsive Part
-------------------------------------------------*/

//the default font in our template
$font-default: 'Roboto', sans-serif;

//the second font in our template
$font-alternative: 'Hind', sans-serif;

//default color skin
$primary-color: #e74c3c;

//default color skin
$second-color: #333333;

//default color skin
$third-color: #999999;

//default color skin with opacity
$primary-color-trans: rgba(231, 76, 60, 0.4);

//text color 1 (some titles)
$title-color: #333333;

//text color 1 (some titles)
$text-color: #666666;

//reset element paddings and margins

.reset-elem {
    margin: 0;
    padding: 0;
}

//default style for paragraphs in this template
p, .paragraph {
    font-size: 15px;
    color: $text-color;
    font-family: $font-default;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px;
}

//default style for hading1 in this template
h1, .heading1 {
    color: $title-color;
    font-size: 18px;
    font-family: $font-default;
    font-weight: 800;
    line-height: 32px;
    margin: 0 0 20px;
}

//default style for hading2 in this template
h2, .heading2 {
    color: $title-color;
    font-size: 24px;
    font-family: $font-default;
    font-weight: 700;
    margin: 0 0 6px;
    line-height: 30px;
}

//default style for hading2 in this template
h3, .heading3 {
    color: $title-color;
    font-size: 16px;
    font-family: $font-default;
    font-weight: 400;
    margin: 0 0 14px;
    line-height: 28px;
}

//variable for radius corners
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//variable for radius corners
@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
    -o-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

//variable for radius corners
@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -o-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

//variable for radius corners
@mixin border-top-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -o-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}

//variable for radius corners
@mixin border-top-right-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -o-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}

//variable for transitions
@mixin transition($speed) {
    transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    -webkit-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
}

//variable for tranform grow elem scale
@mixin transform($scale) {
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
}

//box shadow  variable
@mixin box-shadow($val) {
    box-shadow: $val;
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    -o-box-shadow: $val;
}

//animate transform rotate variable
@mixin rotate($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}

//animate transform scale & rotate variable
@mixin rotate-scale($rotate, $scale) {
    -webkit-transform: rotate($rotate) scale($scale);
    -moz-transform: rotate($rotate) scale($scale);
    -ms-transform: rotate($rotate) scale($scale);
    -o-transform: rotate($rotate) scale($scale);
    transform: rotate($rotate) scale($scale);
}

//background size cover
.back-cover {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

//default style for anchors in this template
a, .anchor {
    display: inline-block;
    text-decoration: none !important;

    @include transition(0.2s);
}

